<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153013820480-329rj051e6j32igu24g6eu4ap5hs40d4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153013820480-329rj051e6j32igu24g6eu4ap5hs40d4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>153013820480-mc6bcjvri6p0e4jof8km03ssciqi2lq6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAxIUSN-cjUT69XuhB8ejLSYCatnNmeUs</string>
	<key>GCM_SENDER_ID</key>
	<string>153013820480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.frapp</string>
	<key>PROJECT_ID</key>
	<string>fr-community</string>
	<key>STORAGE_BUCKET</key>
	<string>fr-community.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153013820480:ios:9974a6b31f7bebe59893a5</string>
</dict>
</plist>